.sidebar {
  width: 100%;
  float: right;
  background-color: #A0E7E5;
  text-align: center;
}
h1 {
  color: whitesmoke;
  font-family: monospace; 
}
img {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 20px;
  height: min-content;
  float: left;
}
.box {
  width:100%;
  border: gray;
  padding: 5px;
  border-width: 5px;
  background-color: #faa7b5;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  font-size: 30px;
  color: whitesmoke;
}
.column1 {
  width: 350px;
  float: left;
  background-color:#FBE7C6;
}
.column2 {
  width: 350px;
  float: left;
  background-color:#B4F8C8;
}
.column3 {
  width: 350px;
  float: left;
  background-color:#A0E7E5;
}
h2 {
  font-size:30px;
  color: #FFAEBC;
}
.highlight {
  color:#A0E7E5
}
h3 {
  text-align: center;
  color: whitesmoke;
  text-decoration: rgb(86, 160, 160);
}
body {
  color: grey
}